QMainWindow {
    background-color: #121212;
    color: #fff;
}

QWidget {
    font-family: "Segoe UI";
    color: #ddd;
}

QPushButton {
    background-color: #1E1E1E;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 6px;
}

QPushButton:hover {
    background-color: #2A2A2A;
}

#StatusCard {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
}
